{% extends "calorie_tracker/base.html" %}
<!-- Start a new section here -->
{% block body %}
<!-- A new line here -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center"> Calorie Tracker </h1>
            <form method="post" class="row g-3 my-3 text-center">
                {% csrf_token %}
                <div class="col-md-8 my-3 offset-md-1">
                    <select class="form-select" name="food_consumed" id="food_consumed">
                        <option selected>Choose One of the food ...</option>
                        {% for food in foods %}
                        <option value="{{ food.name }}">{{ food.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-success" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-6 offset-md-3">
            <div>
                <h3 class="text-center"> Today's Consumption </h3>
            </div>
            <table id="table" class="table table-striped">
                <thead class="table-success">
                    <tr>
                        <th scope="col">Food Item</th>
                        <th scope="col">Carbs (g)</th>
                        <th scope="col">Protein (g)</th>
                        <th scope="col">Fat (g)</th>
                        <th scope="col">Calories (cal)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in consumed_food %}
                    <tr>
                        <td>{{ c.food_consumed.name }}</td>
                        <td>{{ c.food_consumed.carbs }}</td>
                        <td>{{ c.food_consumed.protein }}</td>
                        <td>{{ c.food_consumed.fat }}</td>
                        <td>{{ c.food_consumed.calorie }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

</div>

<!-- ending body -->
{% endblock body %}