{% extends "calorie_tracker/base.html" %}
<!-- Start a new section here -->
{% block body %}
<!-- A new line here -->
<div class="container mt-5">
  <br /><br /><br />
  <h4 class="text-center">Calorie Goal</h4>
  <br />
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div
        class="progress"
        role="progressbar"
        aria-label="progress bar"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          class="progress-bar progress-bar-striped-bg-success progress-bar-animated"
          style="width: 0%"
        ></div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Calorie Tracker</h1>
      <form method="post" class="row g-3 my-3 text-center">
        {% csrf_token %}
        <div class="col-md-8 my-3 offset-md-1">
          <select class="form-select" name="food_consumed" id="food_consumed">
            <option selected>Choose One of the food ...</option>
            {% for food in foods %}
            <option value="{{ food.name }}">{{ food.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-1">
          <button class="btn btn-success" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-6 offset-md-3">
      <div>
        <h3 class="text-center">Today's Consumption</h3>
      </div>
      <table id="table" class="table table-striped">
        <thead class="table-success">
          <tr>
            <th scope="col">Food Item</th>
            <th scope="col">Carbs (g)</th>
            <th scope="col">Protein (g)</th>
            <th scope="col">Fat (g)</th>
            <th scope="col">Calories (cal)</th>
          </tr>
        </thead>
        <tbody>
          {% for c in consumed_food %}
          <tr>
            <td>{{ c.food_consumed.name }}</td>
            <td>{{ c.food_consumed.carbs }}</td>
            <td>{{ c.food_consumed.protein }}</td>
            <td>{{ c.food_consumed.fat }}</td>
            <td>{{ c.food_consumed.calorie }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td id="total"><strong>Total</strong></td>
            <td id="totalCarbs"><strong></strong></td>
            <td id="totalProtein"><strong></strong></td>
            <td id="totalFats"><strong></strong></td>
            <td id="totalCalories"><strong></strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- ending body -->
{% endblock body %} {% block script %}
<script>
  let table = document.getElementById("table");
  let carbs = 0;
  let protein = 0;
  let fats = 0;
  let calories = 0;

  for (let i = 1; i < table.rows.length - 1; i++) {
    carbs += parseFloat(table.rows[i].cells[1].innerHTML);
    protein += parseFloat(table.rows[i].cells[2].innerHTML);
    fats += parseFloat(table.rows[i].cells[3].innerHTML);
    calories += parseFloat(table.rows[i].cells[4].innerHTML);
  }
  console.log(carbs, protein, fats, calories);
  document.getElementById("totalCarbs").innerHTML = Math.round(carbs * 100) / 100;
  document.getElementById("totalProtein").innerHTML = Math.round(protein * 100) / 100;
  document.getElementById("totalFats").innerHTML = Math.round(fats * 100) / 100;
  document.getElementById("totalCalories").innerHTML = Math.round(calories);
</script>
{% endblock script %}
