{% extends "calorie_tracker/base.html" %}
<!-- Start a new section here -->
{% block body %}
<!-- A new line here -->
<form method="post">
    {% csrf_token %}
    <label for="food_consumed">Food Consumed:</label><br>
    <select name="food_consumed" id="food_consumed">
        {% for food in foods %}
        <option value="{{ food.name }}">{{ food.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Add</button>
</form>

{% for c in consumed_food %}
{{ c.food_consumed.name }} --> Carbs: {{c.food_consumed.carbs }} --> Protein: {{c.food_consumed.protein }} --> Fat: {{c.food_consumed.fat }} --> Calories: {{c.food_consumed.calories }}<br>
{% endfor %}

<!-- ending body -->
{% endblock body %}